# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
    app.twig_extension:
        class: AppBundle\Twig\AppExtension
        public: false
        arguments: ['%open_mafia%']
        tags:
            - { name: twig.extension }

    app.form.type.location:
        class: AppBundle\Form\Type\LocationType
        arguments: ['%open_mafia%']
        tags:
            - { name: form.type }

    app.form.type.crime:
        class: AppBundle\Form\Type\CrimeType
        arguments: ['%open_mafia%', '@security.token_storage']
        tags:
            - { name: form.type }

    app.user_subscriber:
        class: AppBundle\EventSubscriber\UserSubscriber
        arguments: ['%open_mafia%', '@security.authorization_checker', '@security.token_storage', '@doctrine.orm.entity_manager']
        tags:
            - { name: kernel.event_subscriber }

    app.crime_subscriber:
        class: AppBundle\EventSubscriber\CrimeSubscriber
        arguments: ['@security.token_storage', '@doctrine.orm.entity_manager']
        tags:
            - { name: kernel.event_subscriber }

    app.jail_subscriber:
        class: AppBundle\EventSubscriber\JailSubscriber
        arguments: ['@security.token_storage', '@doctrine.orm.entity_manager']
        tags:
            - { name: kernel.event_subscriber }
