{% extends 'play.html.twig' %}

{% block title 'Jail' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Player</th>
                <th>Time Left</th>
                <th>Bust</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
{% endblock %}
